# ... (پچھلے steps)

- name: Run flutter pub get
  run: flutter pub get
  # ⬇️ یہ لائن ورکنگ ڈائریکٹری کو درست کرتی ہے
  working-directory: ./DigitalWaqt_Azan_Full 
  shell: /bin/sh -c "{0}" 

- name: Run Flutter build (Example)
  run: flutter build apk --release
  # ⬇️ یہ لائن ورکنگ ڈائریکٹری کو درست کرتی ہے
  working-directory: ./DigitalWaqt_Azan_Full
  shell: /bin/sh -c "{0}"
  
# ... (اگلے steps)
