name: Android APK Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get
        working-directory: ./YOUR_PROJECT_FOLDER

      - name: Enable Flutter web (optional)
        run: flutter config --enable-web
        working-directory: ./YOUR_PROJECT_FOLDER

      - name: Build APK
        run: flutter build apk --release
        working-directory: ./YOUR_PROJECT_FOLDER

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: YOUR_PROJECT_FOLDER/build/app/outputs/flutter-apk/app-release.apk
